body{
    background-color: rgb(182, 182, 194);
}
#d1{
    background-color: blanchedalmond;
    color: brown;
}
p{
    background-color: aqua;
    color: rgb(114, 24, 24);
}
#c1{
    background-color: blue;
    color: black;
}
#k1{
    background-color: aquamarine;
}
#t1{
    background-color: rgb(163, 123, 123);
}
#p1{
    background-color: blueviolet;
}
#q1{
    background-color: beige;
}
#r1{
    background-color: aqua;
}
#o2{
    background-color: azure;
}